.PagesContent {
    position: absolute;
    left: 200px;
    top: 50px;
    width: calc(100% - 250px);
    transition: transform 0.3s ease;
    /* Transition animation */

}

.income-container {
    margin: 20px;
    width: 100%;
    position: relative;
}

.income-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.Thead td {
    color: #3ea76a;
}

.income-table th,
.income-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.income-table th {
    background-color: #f2f2f2;
    color: #3ea76a;
    font-size: 20px;

}

.amount-input {
    width: 30%;
}

.amount-input:focus {
    border: solid 2px #3ea76a;
}

.incomeT {
    font-weight: 500;
    font-size: 17px
}

.income-table select {
    width: 80%;
    padding: 10px;
    border: solid 2px #3ea76a;
    border-radius: 5px;
}

.Total {
    color: #3ea76a;
}

.OptionPeriode {
    font-weight: 600;
    font-size: 15px;
}

.button-container {
    margin-bottom: 20px;
}

.actionTH {
    width: 150px;
}

.incomeActions {
    display: flex;
    width: 150px;
    justify-content: center;
}

.incomeBtn {
    background-color: transparent !important;
}

.add-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    position: relative;
    left: 10%;
}

.add-button:hover {
    background-color: transparent;
}

.picIncome img {
    background-color: transparent !important;
    width: 32px;
    height: 32px;
    margin: 10px;
    display: inline-flex;
    align-items: center;

    &:hover {
        background-color: transparent;
    }
}

.supp img {
    width: 32px;
    height: 32px;
}

.categoryButton {
    display: flex;
}

.cancelBtn {
    background-color: transparent;
    width: 32px;
    height: 32px;
    margin-bottom: 5px;

    &:hover {
        background-color: transparent;
    }
}


.submit-button {
    background-color: #3ea76a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Actions {
    width: 25%;
}



.customTableFooter {
    font-weight: bolder;
    text-align: center;
    color: #3ea76a;
    font-size: 20px;
}

.totalMonthly,
.totalAmount {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .PagesContent {
        left: 0;
        margin-right: 10px;
        width: 100%;
    }
}