.dashboard {
    display: flex;
    justify-content: flex-start; /* Align dashboard content to the left */
    height: 100vh; /* Set dashboard height to fill the viewport */
  }
  
  .content {
    flex-grow: 1; /* Allow content to grow and take up remaining space */
    padding: 20px; /* Add padding for spacing */
  }