.a{
  background-image: url('../Assets//home.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 100vh;
}

.home-container,
.rightS {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.home-container {
  align-items: center;
}

.home-header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(16px + 2vmin);
  color: #fff;
  margin-left: 20px;
}

.quote {
  font-size: 24px;
  font-style: oblique;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.5;
}

.author {
  font-size: 18px;
  font-weight: bold;
  color: #dfdede; 
  text-align: center;
}

.Intro {
  font-size: 15px;
  font-style: italic;
  color: #b8b8b8;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.started {
  margin-top: 20px;
  background-color: #fff; /* Adjust color as needed */
  padding-top: 0px !important;
  padding: 10px; /* Add padding as needed */
  border-radius: 5px; /* Add border-radius for rounded corners */
  display: inline-block; /* Ensures the background color covers the entire content */
  cursor: pointer;
}
.next{
  position: relative;
  top: 10px;
  width: 32px;
  height: auto;

}

.login-link {
  margin-top: 30px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #3ea76a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: #2e7d4f;
}

.loading-spinner {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3ea76a;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

.RightBG{
  position: relative;
  bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* Responsive Styles */
@media (max-width: 600px) {
  .home-header {
    min-height: 40vh;
  }

  .login-link {
    font-size: 16px;
  }

  .features-section h2 {
    font-size: 20px;
  }

  .features-section li {
    font-size: 16px;
  }
}