.navbar {
  background-image: linear-gradient(to right top, #070508, #070508, #080609, #080609, #080609);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}

.navbar__logo {
  width: 40px;
  height: auto;
}

.navbar__title {
  color: white;
  margin-left: 0.5rem;
  font-size: 28px;
  font-weight: bolder;
}

.navbar__left{
  display: flex;
}

.navbar__middle {
  flex-grow: 1;
}

.navbar__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.navbar__item {
  margin-right: 30px;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar__link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar__button {
  padding: 10px 20px;
  background-color: #19c970;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-width: 0px;
}

.navbar__button:hover {
  background-color: darkgreen;
}

.toggleNavbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #282c34;
    z-index: 1;
  }

  .navbar__list.active {
    display: flex;
  }

  .navbar__item {
    margin: 10px 0;
  }

  .toggleNavbar {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 20px;
  }
}
