.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .nav-elements {
    display: flex;
    align-items: center;
  }
  
  .nav-elements ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-elements ul li {
    margin-right: 1rem;
  }
  
  .menu-icon {
    display: none; /* Hide the menu icon for now */
  }
  
  .Nav-Login-button {
    background-color: #001e2b; /* Background color for the login button */
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .Nav-Login-button img {
    vertical-align: middle;
  }
  
  .search-icon {
    background-color: #004c64; /* Lighter background color for the search icon */
    padding: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block; /* Display the menu icon on smaller screens */
    }
    
    .nav-elements {
      display: none;
    }
  
    .nav-elements.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 4rem;
      right: 0;
      background-color: #333;
      padding: 1rem;
      z-index: 1;
    }
  
    .nav-elements.active ul li {
      margin-bottom: 0.5rem;
    }
  }
  