.PagesContent{
    position: absolute;
    left: 200px;
    top: 50px;
    width: calc(100% - 250px);
    z-index: 5;
}

.TitlePages{
    font-size: 40px;
    padding: 20px;
    font-weight: 900;
    font-style: initial;
}